.froala-editor .fr-toolbar {
    border-radius: 0
}

.froala-editor .fr-toolbar .fr-btn-grp {
    margin: 0
}

.froala-editor .fr-toolbar .fr-btn-grp .fr-command.fr-btn {
    height: 35px;
    margin: 0;
    padding: 0 .1rem;
    text-align: center;
    width: 35px
}

.froala-editor .fr-toolbar .fr-btn-grp .fr-separator.fr-vs {
    margin: 0 4px
}

.froala-editor .fr-second-toolbar {
    border-radius: 0
}
